* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

footer {
  background: linear-gradient(90deg, #b5a57e, #afa589);
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
}