.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background: linear-gradient(90deg, rgba(185, 133, 3, 0.8), rgba(199, 168, 82, 0.8));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  padding: 6px 20px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
  height: 55px;  
}

.header .logo {
  font-size: 1rem;   
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 6px;  
}

.header ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 65px;
  padding: 0;
}

.header ul li a {
  color: white;
  
}

.header ul li a:hover {
  color: rgb(145, 96, 4);
  transform: translateY(-6px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}
